<div [@routerTransition]>
        <!--<app-page-header [heading]="'Tables'" [icon]="'fa-table'"></app-page-header>-->
        <div class="row col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">NOTA 1</th>
                        <th scope="col">NOTA 2</th>
                        <th scope="col">NOTA 3</th>
                        <th scope="col">NOTA FINAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>aaaaa</td>
                        <td>aaaaa</td>
                        <td>aaaaa</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>aaaaa</td>
                        <td>aaaaa</td>
                        <td>aaaaa</td>
                    </tr>
                </tbody>
            </table>
        </div>
            <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="exampleFormControlTextarea1">OBSERVACIONES</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
            </div>
            <div class="form-row">
                    <div class="form-group col-md-3">
                            <button type="button" class="btn btn-primary">Enviar</button>
            </div>




    </div>
